<h1>¡Bienvenidos! Estamos usando Express-Handlebars</h1>

<h2>Mi nombre es {{usuario.nombre}}</h2>
<h2>Mi apellido es {{usuario.apellido}}</h2>

{{!-- {{#each arrayProductos}}
  <div>
    <h2>Titulo: {{this.nombre}}</h2>
    <p>Descripción: {{this.descripcion}}</p>
    <p>Precio: $ {{this.precio}}</p>
    <button>Comprar</button>
  </div>
{{/each}} --}}

{{!-- Usamos condicionales --}}
{{#if usuario.mayorEdad}}
<p>Es mayor de edad</p>
{{else}}
<p>Es menor de edad</p>

{{/if}}


{{>card}}

<script src="js/main.js"></script>
